Source: golang-github-howeyc-fsnotify
Section: devel
Priority: extra
Maintainer: Debian Go Packaging Team <pkg-go-maintainers@lists.alioth.debian.org>
Uploaders: Giuseppe Lavagetto <glavagetto@wikimedia.org>
Build-Depends: debhelper (>= 10),
               dh-golang,
               golang-any
Standards-Version: 4.0.0
Homepage: https://github.com/howeyc/fsnotify
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-go/packages/golang-github-howeyc-fsnotify.git
Vcs-Git: https://anonscm.debian.org/git/pkg-go/packages/golang-github-howeyc-fsnotify.git
XS-Go-Import-Path: github.com/howeyc/fsnotify
Testsuite: autopkgtest-pkg-go

Package: golang-github-howeyc-fsnotify-dev
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: File system notification for Go
 Cross platform file system notifications for Go.
 Works on Windows, Linux, BSD and OS X.

